$header-height: 80px;

.upc-modal {
  animation: slideUp 0.4s forwards;
  background: $c-information-blue;

  min-width: 100%;
  height: 100%;

  min-width: 100%;
  height: 100vh;

  display: initial;
  position: fixed;
  top: 0;
  left: 0;
  z-index: get-z("modal");

  &--important {
    background: $c-warning-orange;
  }

  overflow: hidden;

  @include breakpoint-above("medium") {
    animation: none;
    background: rgba(0, 0, 0, 0.4);
    padding: (get-app-header-height("medium") + 20px) 40px;
    display: flex;
    align-items: center;
  }

  &--disable-mobile {
    animation: none;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.upc-modal-header {
  @include flex-container(row);
  min-height: $header-height;
  padding: 22px;
  border-bottom: none;

  @include breakpoint-above("medium") {
    border-bottom: 1px solid #e5e5e5;
  }

  &-close-button {
    @include flex-container(row, initial, baseline);
    @include child-spacing(left, 8px);
    @include font-category("helper-text");
    color: white;
    cursor: pointer;
    align-items: center;

    .icon {
      fill: white;
      height: 16px;
      transform: rotateY(180deg);
    }
    & p {
      line-height: 1em;
      margin: 0;
    }
  }
}

.upc-modal-form {
  animation: slideUp 0.6s forwards;
  background: white;
  border-radius: 40px 40px 0 0;

  width: 100%;
  height: calc(100% - #{$header-height});
  overflow: auto;
  text-align: center;

  padding: 40px 20px 75px 20px;

  // Hack. Bottom padding does not get properly applied when the <slot> content
  // causes overflow. We get around it by applying this class to a final empty
  // <div>.
  &--bottom-padding {
    padding-top: 20px;
  }

  @include breakpoint-above("medium") {
    @include flex-container(column);
    @include child-spacing(top, 16px);

    animation: none;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);

    max-width: 600px;
    min-height: 200px;
    max-height: 85vh;
    height: auto;

    margin: 0 auto;
    padding: 40px 40px 0 40px;

    &--bottom-padding {
      margin: 0;
      padding-top: 24px;
    }
  }
}

.upc-modal-buttons {
  @include flex-container(row, flex-end);
  @include child-spacing(left, 16px);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.upc-modal-close-icon {
  width: 20px;
  cursor: pointer;
}
