/// Used for primary text.
$c-soft-black: #343440;

/// Used for secondary text and icons.
$c-secondary-grey: #77778B;

/// Used for disabled text.
$c-disabled-grey: #ABB2BD;

/// Used for borders and hint text.
$c-border-grey: #D6E0EF;

/// Used for backgrounds.
$c-background-blue: #E3F2FD;

/// Used for backgrounds.
$c-background-grey: #F1F3F6;

/// Used for primary actions and to indicate success.
$c-success-green: #16D2AA;

/// Used to indicate an error or destructive action.
$c-error-red: #F44747;

/// Used to warn the user.
$c-warning-orange: #FF8C5F;

/// Used to draw the user's attention to important info.
$c-information-blue: #1855D1;

//Used for banned student state
$c-banned-grey: #8b939f;


// Old design colors
$c-accent: #16D2AA;
$c-backdrop-clear: #F0F7FD;
$c-backdrop-warn: #FEEAB2;
$c-backdrop: #E3F2FD;
$c-bg: #F6F6F6;
$c-college: #FED766;
$c-math: #F7AEF8;
$c-sat: #54DEFD;
$c-shadow-header: #E1E1E1;
$c-shadow-warn: #F44747;
$c-shadow: #1855D1;
$c-active-heart: #F41717;

// Override default bootstrap variables
$success: $c-success-green;
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': #16D2AA,
    'warning': #FF8C5F,
    'danger': #F44747
  ),
  $theme-colors
);

// New design colors
$upchieve-green: #8ae8d4;
$upchieve-white: #fff;
$upchieve-chat-bot-green: #E9F9F5;
$selected-green: #F2FBF9;
$border-grey: #D8DEE5;
$light-blue-background: #F1F8FE;
$step-blue: #1855D166;
$icon-grey: #676879;